<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="carBean2" class="com.dxc.auto.Car2">
        <constructor-arg index="0" name="type" value="MPV"/>
        <constructor-arg index="1" name="model" value="ToyotaInnova"/>
        <constructor-arg index="2" name="price" value="88000"/>
        <constructor-arg index="3" name="combinedFuelEconomy" value="16"/>
        <constructor-arg index="4" name="engine2">

        <bean id="engineBean2" class="com.dxc.auto.Engine2">
            <property name="horsePower" value="335"/>
            <property name="maxRPM" value="40000"/>
            <property name="displacement" value="3.0"/>
            <property name="cylinderConfig" value="I-6"/>
            <property name="recommendedFuel" value="premium unleaded"/>
        </bean>

    </constructor-arg>
    </bean>

  <!--  <bean id="engineBean2" class="com.dxc.auto.Engine2">
        <property name="horsePower" value="335"/>
        <property name="maxRPM" value="40000"/>
        <property name="displacement" value="3.0"/>
        <property name="cylinderConfig" value="I-6"/>
        <property name="recommendedFuel" value="premium unleaded"/>
    </bean>-->


</beans>